.image { 
   position: relative; 
   width: 100%;
}


.name{
	
	font-family: "Gregory Packaging";
	font-size: 230px;
   position: absolute; 
   top: 0px; 
   left: 0px; 
   width: 100%; 
}

.R{
   position: absolute; 
   top: -70px; 
   left: 100px; 
   width: 100%; 
}
.A{
   position: absolute; 
   top: -60px; 
   left: 310px; 
   width: 100%; 
}
.Y{
   position: absolute; 
   top: -70px; 
   left: 490px; 
   width: 100%; 
}
.V{
   position: absolute; 
   top: -70px; 
   left: 690px; 
   width: 100%; 
}
.I{
   position: absolute; 
   top: -60px; 
   left: 870px; 
   width: 100%; 
}
.E{
   position: absolute; 
   top: -50px; 
   left: 990px; 
   width: 100%; 
}

.title{
	font-family: "Moon Flower";
	font-size: 50px;
}