.darkBG{
	background: #999;
}

.darkerBG{
	background: #666;
}

.darkestBG{
	background: #333;
}

.title{
	font-family: "Moon Flower";
	font-size: 60px;

}
.name{
	
	font-family: "Gregory Packaging";
	font-size: 230px;
	padding: 0 0 0px 55px;
	float: left;
	margin: 0px;
}