#rayvie{
   font-family: "Gregory Packaging";
   font-weight: bold;
   font-size: 230px;
   text-align: center;
   text-shadow: -5px 5px #404040;
}
.navbar{
   font-family: "Moon Flower";
   font-size: 40px;
   font-weight: bold;
   text-align: center;
   text-shadow: -2px 2px #888;
   z-index: 98;
}

.title{
	font-family: "Moon Flower";
	font-size: 70px;
   font-weight: bold;
   text-align: center;
   text-shadow: -2px 2px #999;
}
p{
   font-family: "Moon Flower";
   font-size:40px;
   font-weight: bold;
   color: white;
   text-align: center;
   margin: 30px 0 30px 0;
}
.boxed{
   border: 2px;
   padding: 10px 40px; 
   background: #000;
   width: 1250px;
   border-radius: 25px;
   left: 100px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #dddddd;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}

#myBtn:hover {
  background-color: #555;
}
body {
   margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
  font-size: 30px;
  text-shadow: 0px 2px #999;
}
#skill{
   color: black
}

.html {width: 90%; background-color: #4CAF00;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}
