.darkBG{
	background: #999;
}

.darkerBG{
	background: #666;
}

.darkestBG{
	background: #333;
}

.name{
	font-family:"Moon Flower";
	font-size: 120px;
	padding: 30px;
	float: left;
}